
<div ng-controller="LoginCtrl" layout="column" flex layout-align="center center" class="completa">
  <md-content layout="column" flex="80" layout-align="start center" class="overflow-v transparente">
    <div class="login shadow" layout-padding>
      <form method="post" ng-submit="login()" name="loginForm">
        <md-input-container class="md-block">
          <label>Client Email</label>
          <input type="email" name="email" ng-model="user.email" required autofocus
                 minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
          <div ng-messages="loginForm.email.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Tu email debe tener entre 10 y 100 caracteres y parecerse a una dirección de email.
            </div>
          </div>
        </md-input-container>
      <md-input-container class="md-block">
        <label>Contraseña</label>
        <input md-minlenght="6" type="password" name="password" ng-model="user.password"
         ng-minlength="6" ng-maxlength="15" ng-pattern="/(?=.*[a-z])(?=.*[^a-zA-Z])/" required >
        <div ng-messages="loginForm.password.$error" multiple md-auto-hide="false">
          <div ng-message="required">Debes introducir tu contraseña.</div>
          <div ng-message="pattern">
            Debe contener al menos un número y una letra.
          </div>
          <div ng-message="minlength && maxlength">
            La contraseña debe tener entre 6 y 15 caracteres.
          </div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid"  btn-block btn-success>Log in</md-button>
      </div>
      <small>Don't have an account yet? <a href="/#/signup">Sign up</a></small>
    </form>
  </div>
  </md-content>
</div>
